
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ config.module.page.compose.caption }}</h4>
                  <p class="card-category">{{ config.module.page.compose.label }}</p>
                </div>
                <div class="card-body">
                  <form ng-submit="vm.submitPage()">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="form-group">
                                  <Label class="bmd-Label-floating">{{ config.module.page.compose.routeName }}</Label>
                                  <input type="text" ng-model="vm.page.routeName" class="form-control" required>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <Label class="bmd-Label-floating">{{ config.module.page.compose.controllerName }}</Label>
                                  <input type="text" class="form-control" ng-model="vm.page.controllerName" required>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <Label class="bmd-Label-floating">{{ config.module.page.compose.controllerAsName }}</Label>
                                  <input type="text"  ng-model="vm.page.controllerAsName" class="form-control" required>
                              </div>
                          </div>
                      </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                            <Label class="bmd-Label-floating">{{ config.module.page.compose.templateUrl }}</Label>
                          <input type="text" ng-model="vm.page.templateUrl" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <Label class="bmd-Label-floating">{{ config.module.page.compose.controllerUrl }}</Label>
                          <input type="text" ng-model="vm.page.controllerUrl" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <Label class="bmd-Label-floating">{{ config.module.page.compose.templateName }}</Label>
                          <select class="form-control" ng-model="vm.selectedTemplate" ng-options="x.templateName for x in vm.allTemplate track by x.id"></select>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ config.module.page.compose.btnRouteAdd }}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ config.module.page.list.caption }}</h4>
                    <p class="card-category"> {{ config.module.page.list.label }}</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th ng-repeat="item in config.module.page.list.properties | orderBy : 'index'">
                          {{ item.name }}
                        </th>
                      </thead>
                      <tbody>
                          <tr ng-repeat="item in vm.allRoute">
                              <td>
                                  {{ item.routeName }}
                              </td>
                              <td>
                                  {{ item.controllerName }}
                              </td>
                              <td>
                                  {{ item.controllerAsName }}
                              </td>
                              <td>
                                  {{ item.controllerUrl }}
                              </td>
                              <td>
                                  {{ item.templateUrl }}
                              </td>
                              <td>
                                {{ item.templateName }}
                              </td>
                              <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                      <i class="material-icons">edit</i>
                                  </button>
                                  <button ng-click="vm.deletePage(item.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">close</i>
                                  </button>
                              </td>
                          </tr>                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     