        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ config.module.account.caption }}</h4>
                  <p class="card-category">{{ config.module.account.label }}</p>
                </div>
                <div class="card-body">
                  <form ng-submit="vm.submitProfile()">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <Label class="bmd-Label-floating">{{ config.module.account.username }}</Label>
                          <input type="text" ng-model="vm.user.username" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <Label class="bmd-Label-floating">{{ config.module.account.email }}</Label>
                          <input type="email" ng-model="vm.user.email" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <Label class="bmd-Label-floating">{{ config.module.account.firstname }}</Label>
                          <input type="text" ng-model="vm.user.firstname" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <Label class="bmd-Label-floating">{{ config.module.account.lastname }}</Label>
                          <input type="text" ng-model="vm.user.lastname" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ config.module.account.btnProfileUpdate }}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  
                    <img class="img" src="{{ config.module.account.passwdLogo }}" />
                  
                </div>
                <div class="card-body">
                  <form ng-submit="vm.submitZOE()">
                    <h6 class="card-category text-gray">{{ config.module.account.passwdPowered }}</h6>
                    <h4 class="card-title">{{ config.module.account.passwdCaption }}</h4>
                    <div class="form-group text-left">
                        <Label class="bmd-Label-floating">{{ config.module.account.currentPasswd }}</Label>
                        <input type="Password" ng-model="vm.zoe.currentPassword" class="form-control" required>
                    </div>
                    <div class="form-group text-left">
                        <Label class="bmd-Label-floating">{{ config.module.account.passwd }}</Label>
                        <input type="Password" ng-model="vm.zoe.newPassword" class="form-control" required>
                    </div>
                    <div class="form-group text-left">
                        <Label class="bmd-Label-floating">{{ config.module.account.rePasswd }}</Label>
                        <input type="Password" ng-model="vm.zoe.reNewPassword" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-round">{{ config.module.account.btnPasswdChange }}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
