
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ config.module.application.compose.caption }}</h4>
                  <p class="card-category">{{ config.module.application.compose.label }}</p>
                </div>
                <div class="card-body">
                  <form ng-submit="vm.submitApplication()">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="form-group">
                                  <Label class="bmd-Label-floating">{{ config.module.application.compose.applicationName }}</Label>
                                  <input type="text"  ng-model="vm.application.applicationName" class="form-control" required>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <Label class="bmd-Label-floating">{{ config.module.application.compose.applicationTypeName }}</Label>
                                  <select class="form-control" ng-model="vm.selectedApplicationType" ng-options="x.applicationTypeName for x in vm.allApplicationType track by x.id"></select>
                              </div>
                          </div>
                      </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ config.module.application.compose.btnApplicationAdd }}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">{{ config.module.application.list.caption }}</h4>
                  <p class="card-category"> {{ config.module.application.list.label }}</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th ng-repeat="item in config.module.application.list.properties | orderBy : 'index'">
                          {{ item.name }}
                        </th>
                      </thead>
                      <tbody>
                          <tr ng-repeat="item in vm.allApplication">
                              <td>
                                  {{ item.applicationName }}
                              </td>
                              <td>
                                  {{ item.applicationTypeName }}
                              </td>
                              <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                      <i class="material-icons">edit</i>
                                  </button>
                                  <button ng-click="vm.deleteApplication(item.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">close</i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     