
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ config.module.command.compose.caption }}</h4>
                  <p class="card-category">{{ config.module.command.compose.label }}</p>
                </div>
                <div class="card-body">
                  <form ng-submit="vm.submitCommand()">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                            <Label class="bmd-Label-floating">{{ config.module.command.compose.commandName }}</Label>
                          <input type="text" ng-model="vm.command.commandName" class="form-control" required>
                        </div> 
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <Label class="bmd-Label-floating">{{ config.module.command.compose.businessServiceName }}</Label>
                          <select class="form-control" ng-model="vm.selectedBusinessService" ng-options="x.businessServiceKey for x in vm.allBusinessService track by x.id"></select>
                        </div> 
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ config.module.command.compose.btnCommandAdd }}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ config.module.command.list.caption }}</h4>
                    <p class="card-category"> {{ config.module.command.list.label }}</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th ng-repeat="item in config.module.command.list.properties | orderBy : 'index'">
                          {{ item.name }}
                        </th>
                      </thead>
                      <tbody>
                          <tr ng-repeat="item in vm.allCommand">
                              <td>
                                  {{ item.commandName }}
                              </td>
                              <td>
                                  {{ item.businessServiceKey }}
                              </td>
                              <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                      <i class="material-icons">edit</i>
                                  </button>
                                  <button ng-click="vm.deleteCommand(item.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">close</i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     