
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ config.module.menu.compose.caption }}</h4>
                  <p class="card-category">{{ config.module.menu.compose.label }}</p>
                </div>
                <div class="card-body">
                    <form ng-submit="vm.submitMenu()">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.roleName }}</Label>
                                    <select class="form-control" ng-model="vm.selectedRole" ng-options="x.roleName for x in vm.allRole track by x.id"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.menuTypeName }}</Label>
                                    <select class="form-control" ng-model="vm.selectedMenuType" ng-options="x.menuTypeName for x in vm.allMenuType track by x.id"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.parentMenuName }}</Label>
                                    <select class="form-control" ng-model="vm.selectedParentMenu" ng-options="x.parentMenuName for x in vm.allParentMenu track by x.id"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.pageName }}</Label>
                                    <select class="form-control" ng-model="vm.selectedPage" ng-options="x.pageName for x in vm.allPage track by x.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.menuIcon }}</Label>
                                    <select class="form-control" ng-model="vm.selectedMenuIcon" ng-options="x.menuIconValue for x in vm.allMenuIcon track by x.id"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.menuValueName }}</Label>
                                    <select class="form-control" ng-model="vm.selectedMenuValue" ng-options="x.menuValueName for x in vm.allMenuValue track by x.id"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.index }}</Label>
                                    <input type="text" ng-model="vm.menu.index" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.menuLabel }}</Label>
                                    <input type="text" ng-model="vm.menu.menuLabel" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <Label class="bmd-Label-floating">{{ config.module.menu.compose.menuTag }}</Label>
                                    <input type="text" ng-model="vm.menu.menuTag" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">{{ config.module.menu.compose.btnMenuAdd }}</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ config.module.menu.list.caption }}</h4>
                    <p class="card-category"> {{ config.module.menu.list.label }}</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th ng-repeat="item in config.module.menu.list.properties | orderBy : 'index'">
                          {{ item.name }}
                        </th>
                      </thead>
                      <tbody>
                          <tr ng-repeat="item in vm.allMenu">
                              <td>
                                  {{ item.menuName }}
                              </td>
                              <td>
                                  {{ item.roleName }}
                              </td>
                              <td>
                                  {{ item.menuTypeName }}
                              </td>
                              <td>
                                  {{ item.parentMenuName }}
                              </td>
                              <td>
                                  {{ item.pageName }}
                              </td>
                              <td>
                                  {{ item.menuIconName }}
                              </td>
                              <td>
                                  {{ item.menuValueName }}
                              </td>
                              <td>
                                  {{ item.index }}
                              </td>
                              <td>
                                  {{ item.menuLabel }}
                              </td>
                              <td>
                                  {{ item.menuTag }}
                              </td>
                              <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                      <i class="material-icons">edit</i>
                                  </button>
                                  <button ng-click="vm.deleteMenu(item.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">close</i>
                                  </button>
                              </td>
                          </tr>                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     