<!DOCTYPE html>
<html ng-app="app" lang="en">

<head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title id="configTitle">
        Sayfa Yükleniyor..
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link href="system/requires/material-dashboard.min.css?v=2.1.1" rel="stylesheet" />

    <link href="system/requires/angular-notify.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="system/requires/loading.js"></script>
</head>

<body class="" id="rootBody" onload="loadProgressBar();">
    <div id="pageContent" style="display: none" width="50" border="0" cellspacing="0" cellpadding="0">
        <div ng-if="config == undefined" ng-view></div>
        <div id="configDisplay" style="display: none" width="50" border="0" cellspacing="0" cellpadding="0" ng-if="config != undefined" data-ng-init="loadProgressBar2()" class="wrapper ">
            
        </div>
    </div>
    
    <script src="system/requires/require.min.js"></script>
    <script type="text/javascript" src="system/requires/main.js"></script>

    <link rel="stylesheet" href="system/requires/jquery-confirm.min.css">
    <script src="system/requires/jquery.min.js"></script>
    <script src="system/requires/jquery-confirm.min.js"></script>

</body>

</html>