<style type="text/css">
    
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
float:left;
width:100%;
padding : 50px 0;
}
html { height: 100%;  }

    body {
        background: url(../../../system/requires/pexels-photo-min.jpg);
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .banner-sec {
        background: url(../../../system/requires/pexels-photo-min.jpg) no-repeat left bottom;
        background-size: cover;
        min-height: 500px;
        border-radius: 0 10px 10px 0;
        padding: 0;
    }
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:90%; position:absolute; bottom:40px; padding-left:36px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

</style>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="login-block">


    <div class="container">
    <div class="row">
        <div class="col-md-12 login-sec">
            <div id="preLoginForm">
                <h2 class="text-center text-primary">Giriş yap</h2>
                <form name="form" ng-submit="vm.login()" role="form" class="login-form">

                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label style="margin-top: -10px;" for="username">Kullanıcı adı/E-posta </label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Kullanıcı adı zorunlu</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label style="margin-top: -10px;" for="password">Şifre</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Şifre zorunlu</span>
                    </div>


                    <div class="form-check">
                        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary float-right">Giriş</button>
                    </div>

                </form>
           
                <a href="#!/register" style="position:relative; width: 100%; height: 10%; border-radius: 40px;  top: 10px;" class="btn btn-login">Kayıt ol</a>
           
        </div>

        <div  id="loginForm" style="display:none;">
            <h2 class="text-center text-primary">Uygulama Seç</h2>

            <form name="form2" ng-submit="vm.login()" role="form" class="login-form">

                <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label style="margin-top: -10px;" for="username">Uygulama</label>
                    <select class="form-control" ng-model="vm.selectedApplication" ng-options="x.applicationName for x in vm.allApplication track by x.id"></select>
                </div>

                <div class="form-check">
                        <a href="javascript:location.reload();" class="btn btn-link float-left">Geri</a>
                    <button type="submit" class="btn btn-primary float-right">Aç</button>
                </div>

            </form>
        </div>
<br>
                <div class="copy-text"> Powered <i class="fa fa-heart"></i> by <a href="http://lemoras.com">Lemoras</a> </div>
    </div>

</div>
        </div>
</section>