
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ config.module.companyApplication.compose.caption }}</h4>
                  <p class="card-category">{{ config.module.companyApplication.compose.label }}</p>
                </div>
                <div class="card-body">
                  <form ng-submit="vm.submitCompanyApplication()">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="form-group">
                                  <Label class="bmd-Label-floating">{{ config.module.companyApplication.compose.applicationName }}</Label>
                                  <select class="form-control"ng-model="vm.selectedApplication"  ng-options="x.applicationName for x in vm.allApplication track by x.id"></select>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <Label class="bmd-Label-floating">{{ config.module.companyApplication.compose.companyName }}</Label>
                                  <select class="form-control" ng-model="vm.selectedCompany" ng-options="x.companyName for x in vm.allCompany track by x.id"></select>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <Label class="bmd-Label-floating">{{ config.module.companyApplication.compose.applicationTagName }}</Label>
                                  <input type="text" ng-model="vm.companyApplication.applicationTagName" class="form-control" required>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <Label class="bmd-Label-floating">{{ config.module.companyApplication.compose.connectionString }}</Label>
                                <input type="text" ng-model="vm.companyApplication.connectionString" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ config.module.companyApplication.compose.btnCompanyApplicationAdd }}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ config.module.companyApplication.list.caption }}</h4>
                    <p class="card-category"> {{ config.module.companyApplication.list.label }}</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th ng-repeat="item in config.module.companyApplication.list.properties | orderBy : 'index'">
                          {{ item.name }}
                        </th>
                      </thead>
                      <tbody>
                          <tr ng-repeat="item in vm.allCompanyApplication">
                              <td>
                                  {{ item.companyName }}
                              </td>
                              <td>
                                  {{ item.applicationName }}
                              </td>
                              <td>
                                  {{ item.applicationTagName }}
                              </td>
                              <td>
                                {{ item.connectionString }}
                              </td>
                              <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                      <i class="material-icons">edit</i>
                                  </button>
                                  <button ng-click="vm.deleteCompanyApplication(item.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">close</i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     