
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{{ config.module.template.compose.caption }}</h4>
                  <p class="card-category">{{ config.module.template.compose.label }}</p>
                </div>
                <div class="card-body">
                  <form ng-submit="vm.submittemplate()">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                            <Label class="bmd-Label-floating">{{ config.module.template.compose.templateName }}</Label>
                          <input type="text" ng-model="vm.template.templateName" class="form-control" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <Label class="bmd-Label-floating">{{ config.module.template.compose.templateUrl }}</Label>
                          <input type="text" ng-model="vm.template.templateUrl" class="form-control" required>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{{ config.module.template.compose.btnTemplateAdd }}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{{ config.module.template.list.caption }}</h4>
                    <p class="card-category"> {{ config.module.template.list.label }}</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th ng-repeat="item in config.module.template.list.properties | orderBy : 'Index'">
                          {{ item.name }}
                        </th>
                      </thead>
                      <tbody>
                          <tr ng-repeat="item in vm.allTemplate">
                              <td>
                                  {{ item.id }}
                              </td>
                              <td>
                                  {{ item.templateName }}
                              </td>
                              <td>
                                  {{ item.templateUrl }}
                              </td>
                              <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm">
                                      <i class="material-icons">edit</i>
                                  </button>
                                  <button ng-click="vm.deletetemplate(item.id)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                                      <i class="material-icons">close</i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     